
[submodule "content/posts"]
	path = content/posts
	url = git@github.com:xavierloeraflores/markdown-entries.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = git@github.com:xavierloeraflores/PaperMod.git
[submodule "static/attachments"]
	path = static/attachments
	url = git@github.com:xavierloeraflores/markdown-attachments.git
