
[submodule "content/posts"]
	path = content/posts
	url = git@github.com:xavierloeraflores/markdown-entries.git
[submodule "static"]
	path = static
	url = git@github.com:xavierloeraflores/markdown-attachments.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = git@github.com:xavierloeraflores/PaperMod.git
